body {
	background-image: url('../images/witewall_3.png');
}

.row {
	/*background: white;*/
}

.header-wrapper .row {
	/*position: relative;
	top: 3px;
	background: white;*/
}

/* Mobile devices */
@media only screen and (max-width: 940px) {
  .header-wrapper img,
  .header-wrapper .tagline {
    display: none;
  }
  
	.header-wrapper {
		margin-bottom: 50px;
	}

  .mobile-header {
  	display: block;
		background: #7c7c7c;
		padding: 10px;
		text-align: center;
		color: white;
		text-shadow: 1px 1px #333;
		font-family: "Arial";
		font-weight: bold;
		background-image: -ms-linear-gradient(top, #B2B2B2 0%, #7C7C7C 100%);
		background-image: -moz-linear-gradient(top, #B2B2B2 0%, #7C7C7C 100%);
		background-image: -o-linear-gradient(top, #B2B2B2 0%, #7C7C7C 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B2B2B2), color-stop(1, #7C7C7C));
		background-image: -webkit-linear-gradient(top, #B2B2B2 0%, #7C7C7C 100%);
		background-image: linear-gradient(to bottom, #B2B2B2 0%, #7C7C7C 100%);
  }
}

/* Non-mobile screen sizes */
@media only screen and (min-width: 940px) {
	.mobile-header {
		display: none;
	}
	
	.header-wrapper .logo img {
		max-width: 150px;
		position: relative;
		top: -30px;
	}
	
	.header-wrapper .tagline {
		position: relative;
		top: 20px;
		left: 10px;
	}
	
	.header-wrapper .tagline h3 {
		color: #145f9e;
		text-shadow: 1px 1px #ccc;
	}
}

/* --- Top bar --- */
	.top-bar,
	.top-bar-wrapper,
	.top-bar ul li.name {
		background: #F3A926;
		background-image: -ms-linear-gradient(top, #F3A926 0%, #EF851F 100%);
		background-image: -moz-linear-gradient(top, #F3A926 0%, #EF851F 100%);
		background-image: -o-linear-gradient(top, #F3A926 0%, #EF851F 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F3A926), color-stop(1, #EF851F)); 
		background-image: -webkit-linear-gradient(top, #F3A926 0%, #EF851F 100%);
		background-image: linear-gradient(to bottom, #F3A926 0%, #EF851F 100%);
	}
	
	.top-bar-wrapper {
		box-shadow: 0px 1px 4px #666;
	}

	.top-bar ul li.name a {
		font-family: arial;
		font-size: 1.1em;
		font-weight: normal;
		padding: 0px 20px;
	}

	.top-bar ul li.name a:hover {
		background: #7c7c7c;
		color: white;
	}

	.top-bar ul li.name.user a {
		color: #145f9e;
		font-weight: bold;
	}
	
	.top-bar ul li.name.user a:hover {
		background: #b2b2b2;
	}
	
	
/* --- Triptychs --- */

	.triptych {
		min-height: 330px;
	}	

	.triptych h2 {
		font-size: 1.4em;
		color: #145f9e;
		text-shadow: 1px 1px #ccc;
	}

	.triptych ul {
		padding: 0px 20px;
	}
	
	.triptych ul li {
		margin: 10px 0px;
	}
